<% for product in @products %>
  <div class="product">
    <h3>
      <%= product.name %>
      <%= number_to_currency(product.price) %>
    </h3>
    <div class="actions">
      <%= link_to "Add to Cart", line_items_create_path(:product_id => product) %>
    </div>
  </div>
<% end %>
